.header-color {
  background-color: #052433;
}

header .textLogo{
  font-size: 5vh;
  color: white;

}

header a {
  text-decoration: none;
  color: white;
  &:hover {
    color: #fff;
    text-shadow: 3px 3px 5px black, 0 0 1em green;
  }
  &:visited {
    color: white;
  }
}

.adminHeader {
  background-color: #03a6b8;
}
